<h2>Active Devices</h2>

<%= render :partial => '/contexts/activedevices', :locals => { :context => @context } %>

<div class="form-actions">
	<%= link_to 'Back', contexts_path, :class => 'btn' %>
</div>
