<h2>Welcome</h2>

<p>Welcome to the <a href="http://www.hbb-next.eu">HBB-Next</a> Identity Management solution implemented by <a href="http://www.telekom.sk">Slovak Telekom</a>.</p>

<p>Please feel free to browse the resources at the top of this page.</p>

<p>In case of questions, problems, or ideas please contact:
	<ul>
		<li><b>Sebastian Schumann</b></li>
		<li><a href="mailto:seb.schumann@gmail.com">seb.schumann@gmail.com</a></li>
		<li>+421 903 419 345</li>
	</ul>
</p>
