<h2>Editing context</h2>

<%= render 'form' %>

<%# def clear_mongo(db) do %>
<%#   logger.info "Clearing Mongo DB: #{db}..." %>
     <%# mng = Mongo::Connection.new.db('hbbnext-idm2_development') %>
     <%# mng_db = mng.collection(db) %>
     <%# mng_db.dropDatabase() %>
<%# end %>
