<hr />
<p class="muted">
	&copy; Slovak Telekom, 2012-<%= Date.today.year %>
</p>
<p class="muted">
	<small>
		Deployed at: <%= $currentTime %><br />
		API version: <%= $currentVersion %><br />
		Release (tag): <%= $currentRelease %>
	</small>
</p>